.search {
  width: 150%;
  margin-left: 18rem;
}

.get {
  margin-left: 38rem;
}

.card {
  background: #43cea2;
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  background: linear-gradient(to right, #185a9d, #43cea2);
  width: 450px;
  margin-bottom: 1.5rem;
  box-shadow: 5px 8px;
}

.form-group,
.btn {
  margin-top: 1rem;
}

select {
  width: 100%;
  height: 35px;
}

label {
  font-weight: 500;
  font-size: 15px;
}

* {
  font-weight: 500;
}

h1 {
  font-weight: 600;
  margin-top: 10px;
}

span {
  font-size: 16px;
}

tr,
td {
  padding: 12px 15px;
}

thead tr {
  background-color: white;
}

tr:nth-of-type(even) {
  background-color: white;
}

tr:nth-of-type(odd) {
  background-color: aliceblue;
}
