<div class="input-group">
    <div class="form-outline">
        <input type="search" [(ngModel)]="search" class="form-control mt-5 search" placeholder="Enter Your Data" />
    </div>
    <div>
        <button (click)="getsupplier()" class="btn btn-danger mt-5 get">Existing Data</button>
    </div>
</div>

<div class="container mt-5">
    <div class="card  mx-auto">
        <div class="card-header text-center text-light">
            <h1 class="text">Add Suppliers</h1>
        </div>
        <div class="card-body ">
            <form [formGroup]="addsuppliers">
                <div class="form-group my-3 ">
                    <label for="Company" class="text-light">Company Name :</label>

                    <select formControlName="company">
                        <option *ngFor="let obj of objcompany">{{obj.company}}</option>
                    </select>
                    <span class="text-danger"
                        *ngIf="addsuppliers.controls['company'].touched && addsuppliers.hasError('required','company')">
                        *Company Name is required</span>
                </div>
                <div class="form-group my-3 ">
                    <label for="supplier" class="text-light">Supplier Name :</label>
                    <input type="text" formControlName="supplier" class="form-control"
                        placeholder="Enter Supplier Name">
                    <span class="text-danger"
                        *ngIf="addsuppliers.controls['supplier'].touched && addsuppliers.hasError('required','supplier')">
                        *Supplier Name is required</span>
                </div>
                <div class="form-group my-3">
                    <label for="supplier_id" class="text-light">Supplier Id :</label>
                    <input type="text" formControlName="supplier_id" class="form-control"
                        placeholder="Enter Supplier Id">
                    <span class="text-danger"
                        *ngIf="addsuppliers.controls['supplier_id'].touched && addsuppliers.hasError('required','supplier_id')">*Supplier
                        Id is required </span>
                </div>
                <div class="form-group my-3">
                    <label for="Aadhar" class="text-light">Aadhar No :</label>
                    <input type="text" formControlName="aadhar" class="form-control" placeholder="Enter Aadhar Number"
                        minlength="12" maxlength="12">
                    <span class="text-danger"
                        *ngIf="addsuppliers.controls['aadhar'].touched && addsuppliers.hasError('required','aadhar')">*Aadhar
                        Number is required </span>
                </div>
                <div class="form-group my-3">
                    <label for="email" class="text-light">Email :(* Optional)</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="Enter Your Email ">
                    <!-- <span class="text-danger"
                        *ngIf="addsuppliers.controls['email'].touched && addsuppliers.hasError('invalid','email')">*Email
                        is
                        required </span> -->
                </div>
                <div class="form-group my-3">
                    <label for="contact" class="text-light">Contact No :</label>
                    <input type="tel" formControlName="contact" class="form-control" placeholder="Enter Contact No"
                        minlength="10" maxlength="10">
                    <span class="text-danger"
                        *ngIf="addsuppliers.controls['contact'].dirty && addsuppliers.hasError('required','contact')">*Contact
                        No
                        is
                        required </span>
                </div>
                <div class="form-group my-3">
                    <label for="state" class="text-light">State :</label>
                    <input type="text" formControlName="state" class="form-control" placeholder="Enter Your State">
                    <span class="text-danger"
                        *ngIf="addsuppliers.controls['state'].dirty && addsuppliers.hasError('required','state')">*State
                        is
                        required </span>
                </div>
                <div class="form-group my-3">
                    <label for="city" class="text-light">City :</label>
                    <input type="text" formControlName="city" class="form-control" placeholder="Enter City">
                    <span class="text-danger"
                        *ngIf="addsuppliers.controls['city'].touched && addsuppliers.hasError('required','city')">*Supplier
                        Id is required </span>
                </div>
                <div class="button text-center">
                    <button type="submit" class="btn btn-danger px-4 py-2 my-4"
                        (click)="suppliervalidation(this.addsuppliers.value)" [disabled]="!addsuppliers.valid">Sign
                        Up</button>
                    <button (click)="updateForm(this.addsuppliers.value)"
                        class="btn btn-warning text-light px-4 py-2 mx-4 my-4">Update</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <table class="table bg-dark">
            <thead class="text-light">
                <tr *ngIf="show">
                    <th scope="col">Company Name</th>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Supplier Id</th>
                    <th scope="col">Aadhar</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact No</th>
                    <th scope="col">State</th>
                    <th scope="col">City</th>
                </tr>
            </thead>
            <tbody class="text-light">
                <tr *ngFor="let obj of object |filter:search">
                    <td scope="row">{{obj.company}}</td>
                    <td scope="row">{{obj.supplier}}</td>
                    <td scope="row">{{obj.supplier_id}}</td>
                    <td scope="row">{{obj.aadhar}}</td>
                    <td scope="row">{{obj.email}}</td>
                    <td scope="row">{{obj.contact}}</td>
                    <td scope="row">{{obj.state}}</td>
                    <td scope="row">{{obj.city}}</td>
                    <td scope="row"><button class="btn btn-danger" (click)="editsupplier(obj)"
                            type="button">Edit</button>
                    </td>
                    <td scope="row"><button class="btn btn-danger" (click)="delsupplier(obj,obj)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>