<div class="container center">
    <figure class="snip1519">
        <figcaption><em class="ion-ios-rose-outline"></em>
            <h3>Admin Dashboard</h3>
            <h1>{{this.count}} Admins</h1>
            <button type="button" class="buttons" (click)="admin()">View</button>
        </figcaption>
    </figure>
    <figure class="snip1519">
        <figcaption><em class="ion-ios-paw-outline"></em>
            <h3>Company Dashboard</h3>
            <h1>{{this.count3}} Companies</h1>
            <button type="button" class="buttons" (click)="company()">View</button>
        </figcaption>
    </figure>
</div>
<div class="container center">
    <figure class="snip1519">
        <figcaption><em class="ion-ios-rose-outline"></em>
            <h3>Product Dashboard</h3>
            <h1>{{this.count2}} Products</h1>
            <button type="button" class="buttons" (click)="products()">View</button>
        </figcaption>
    </figure>
    <figure class="snip1519">
        <figcaption><em class="ion-ios-flame-outline"></em>
            <h3>Supplier Dashboard</h3>
            <h1>{{this.count1}} Suppliers</h1>
            <button type="button" class="buttons" (click)="suppliers()">View</button>
        </figcaption>
    </figure>
</div>