<div class="container center">
    <figure class="snip1519">
        <figcaption><i class="ion-ios-rose-outline"></i>
            <h3>Admin Dashboard</h3>
            <h1>{{this.count}} Admins</h1>
        </figcaption>
    </figure>
    <figure class="snip1519">
        <figcaption><i class="ion-ios-paw-outline"></i>
            <h3>Company Dashboard</h3>
            <h1>{{this.count3}} Companies</h1>
        </figcaption>
    </figure>
</div>
<div class="container center">
    <figure class="snip1519">
        <figcaption><i class="ion-ios-rose-outline"></i>
            <h3>Product Dashboard</h3>
            <h1>{{this.count2}} Products</h1>
        </figcaption>
    </figure>
    <figure class="snip1519">
        <figcaption><i class="ion-ios-flame-outline"></i>
            <h3>Supplier Dashboard</h3>
            <h1>{{this.count1}} Suppliers</h1>
        </figcaption>
    </figure>
</div>