<div class="input-group">
    <div class="form-outline">
        <input type="search" [(ngModel)]="search" class="form-control mt-5 search" placeholder="Enter Your Data" />
    </div>
    <div>
        <button (click)="getuser()" class="btn btn-danger mt-5 get">List of users</button>
    </div>
</div>

<div class="container mt-5">
    <div class="card  mx-auto">
        <div class="card-header text-center text-light">
            <h1 class="text">Add Administrator</h1>
        </div>
        <div class="card-body ">
            <form [formGroup]="adduser">
                <div class="form-group my-3 ">
                    <label for="username" class="text-light">User Name :</label>
                    <input type="text" formControlName="username" class="form-control" placeholder="Enter Username"
                        minlength="4" maxlength="20">
                    <span class="text-danger"
                        *ngIf="adduser.controls['username'].touched && adduser.hasError('required','username')">
                        *Username is required</span>
                </div>
                <div class="form-group my-3">
                    <label for="first_Name" class="text-light">First Name :</label>
                    <input type="text" formControlName="first_name" class="form-control" placeholder="Enter First Name"
                        pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
                    <span class="text-danger"
                        *ngIf="adduser.controls['first_name'].touched && adduser.hasError('required','first_name')">*First
                        Name is required </span>
                    <span class="text-danger" *ngIf="adduser.hasError('pattern','first_name')">*First_Name should
                        not
                        contains numbers!! </span>
                </div>
                <div class="form-group my-3">
                    <label for="last_Name" class="text-light">Last Name :</label>
                    <input type="text" formControlName="last_name" class="form-control" placeholder="Enter Last Name"
                        pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
                    <span class="text-danger"
                        *ngIf="adduser.controls['last_name'].touched && adduser.hasError('required','last_name')">*Last
                        Name is required </span>
                    <span class="text-danger" *ngIf="adduser.hasError('pattern','last_name')">*Last_Name should
                        not
                        contains numbers!! </span>
                </div>
                <div class="form-group my-3">
                    <label for="contact" class="text-light">Contact No :</label>
                    <input type="contact" formControlName="contact" class="form-control" placeholder="Enter Your Email "
                        maxlength="10" minlength="10" pattern="^[+0]{0,2}(91)?[0-9]{10}$">
                    <span class="text-danger"
                        *ngIf="adduser.controls['contact'].touched && adduser.hasError('required','contact')">*Contact
                        is
                        required </span>
                    <span class="text-danger" *ngIf="adduser.hasError('pattern','contact')">*Contact number should not
                        contains chars!! </span>

                </div>
                <div class="form-group my-3">
                    <label for="email" class="text-light">Email :</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="Enter Your Email "
                        pattern="^([\w]*[\w\.]*(?!\.)@gmail.com)">
                    <span class="text-danger"
                        *ngIf="adduser.controls['email'].touched && adduser.hasError('required','email')">*Email is
                        required </span>

                    <span class="text-danger" *ngIf="adduser.hasError('pattern','email')">*Email pattern is invalid!!
                    </span>
                </div>
                <div class="form-group my-3">
                    <label for="password" class="text-light">Password :</label>
                    <input type="password" formControlName="password" class="form-control"
                        placeholder="Enter Your Password" minlength="8" maxlength="15">
                    <span class="text-danger"
                        *ngIf="adduser.controls['password'].dirty && adduser.hasError('required','password')">*Password
                        is required </span>
                    <span class="text-danger" *ngIf="adduser.hasError('minlength','password')">*Password must have
                        atleast 8 characters!! </span>
                </div>
                <div class="form-group my-3">
                    <label for="confirm_password" class="text-light">Confirm Password :</label>
                    <input type="password" formControlName="confirm_password" class="form-control"
                        placeholder="Confirm Password" minlength="8" maxlength="15">
                    <span class="text-danger"
                        *ngIf="adduser.controls['confirm_password'].dirty && adduser.hasError('required','confirm_password')">*Confirm
                        is
                        required </span>
                    <span class="text-danger" *ngIf="adduser.hasError('minlength','confirm_password')">*Confirm_Password
                        must
                        have
                        atleast 8 characters!! </span>
                </div>
                <div class="button text-center">
                    <button type="submit" class="btn btn-danger px-4 py-2 my-4"
                        (click)="uservalidation(this.adduser.value)" [disabled]="!adduser.valid">Sign
                        Up</button>
                    <button (click)="updateForm(this.adduser.value)"
                        class="btn btn-warning text-light px-4 py-2 mx-4 my-4"
                        [disabled]="!adduser.valid">Update</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="show" class="showtable mt-5">
        <h1 class="text-center">Admin Database</h1>
        <table class="table table-stripped mt-5" aria-label="Admin Details">
            <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact No</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of object |filter:search">
                    <td>{{obj.username}}</td>
                    <td>{{obj.first_name}}</td>
                    <td>{{obj.last_name}}</td>
                    <td>{{obj.email}}</td>
                    <td>{{obj.contact}}</td>
                    <td><button class="btn btn-danger" (click)="edituser(obj)" type="button">Edit</button>
                    </td>
                    <td><button class="btn btn-danger" (click)="deluser(obj,obj)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>