<div class="input-group">
    <div class="form-outline">
        <input type="search" [(ngModel)]="search" class="form-control mt-5 search" placeholder="Enter Your Data" />
    </div>
    <div>
        <button (click)="getcompany()" class="btn btn-danger mt-5 get">List of company</button>
    </div>
</div>

<div class="container mt-5">
    <div class="card  mx-auto">
        <div class="card-header text-center text-light">
            <h1 class="text">Add Company</h1>
        </div>
        <div class="card-body ">
            <form [formGroup]="addcompany">
                <div class="form-group my-3 ">
                    <label for="Company" class="text-light">Company Name :</label>
                    <input type="text" formControlName="company" class="form-control" placeholder="Enter Company Name"
                        minlength="3">
                    <span class="text-danger"
                        *ngIf="addcompany.controls['company'].touched && addcompany.hasError('required','company')">
                        *Company Name is required</span>
                </div>
                <div class="form-group my-3">
                    <label for="company_id" class="text-light">Company Id :</label>
                    <input type="text" formControlName="company_id" class="form-control" placeholder="Enter Company Id"
                        minlength="5">
                    <span class="text-danger"
                        *ngIf="addcompany.controls['company_id'].touched && addcompany.hasError('required','company_id')">*Company
                        Id is required </span>
                </div>
                <div class="form-group my-3">
                    <label for="email" class="text-light">Company Email :</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="Enter Company Email"
                        pattern="^([\w]*[\w\.]*(?!\.)@gmail.com)">
                    <span class="text-danger"
                        *ngIf="addcompany.controls['email'].touched && addcompany.hasError('required','email')">*Company
                        Email is required </span>
                    <span class="text-danger" *ngIf="addcompany.hasError('pattern','email')">*Email pattern is invalid!!
                    </span>
                </div>
                <div class="form-group my-3">
                    <label for="text" class="text-light">Company Website :</label>
                    <input type="text" formControlName="website" class="form-control"
                        placeholder="Enter Company website">
                    <span class="text-danger"
                        *ngIf="addcompany.controls['website'].touched && addcompany.hasError('required','website')">*Company
                        website is required </span>
                </div>
                <div class="form-group my-3">
                    <label for="Location" class="text-light">Location :</label>
                    <input type="text" formControlName="location" class="form-control"
                        placeholder="Enter Company Location" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
                    <span class="text-danger"
                        *ngIf="addcompany.controls['location'].touched && addcompany.hasError('required','location')">*Location
                        is required </span>
                    <span class="text-danger" *ngIf="addcompany.hasError('pattern','location')">*Location should
                        not
                        contains numbers!! </span>
                </div>
                <div class="button text-center">
                    <button (click)="companycheck(this.addcompany.value)" class="btn btn-danger px-4 py-2 my-4"
                        [disabled]="!addcompany.valid">Submit</button>
                    <button (click)="updatecompany(this.addcompany.value)"
                        class="btn btn-warning text-light px-4 py-2 mx-4 my-4"
                        [disabled]="!addcompany.valid">Update</button>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="show" class="showtable mt-5">
        <h1 class="text-center">Company Data</h1>
        <table class="table table-stripped mt-5">
            <thead>
                <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">Company Id</th>
                    <th scope="col">Company Email</th>
                    <th scope="col">Location</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of object |filter:search">
                    <td>{{obj.company}}</td>
                    <td>{{obj.company_id}}</td>
                    <td>{{obj.email}}</td>
                    <td>{{obj.location}}</td>
                    <td><button class="btn btn-danger" (click)="editcompany(obj)" type="button">Edit</button>
                    </td>
                    <td><button class="btn btn-danger" (click)="delcompany(obj,obj)">Delete</button></td>

                </tr>
            </tbody>
        </table>
    </div>

</div>