<div class="container">
    <div class="warehouse">
        <img src="../../images/images.png" alt="Warehouse">
    </div>
    <div class="heading text-center ">
        <h1>Attain<span class="text-primary"> 99.99%+</span> Fulfillment With Warehouse Management System</h1>
    </div>
    <div class="content text-center">
        <p>Marico, a leading consumer company achieved a 99.99%+ order fulfillment rate using Unicommerce’s Warehouse
            Management Solutions (WMS) for its D2C online business.The easiest inventory management tool.
        </p>
    </div>
    <div class="btn">
        <button type="button" routerLink="/menus/dashboard">Get Started</button>
    </div>
    <hr>
    <div class="topic">
        <h1 class="text-center mt-5">Simple as Excel & Impactful as SAP</h1>
    </div>
    <div class="content text-center">
        <p>Also, Integrated with Tally to Streamline your Accounting
        </p>
    </div>
</div>

<div class="section mx-4">
    <div class="cards mx-5 my-4">
        <div class="card-top1">
            <img src="../../images/partner.svg" alt="" class="logos">
            <h2>Free Sign Up</h2>
        </div>
        <div class="card-body1">
            <p>Use the Free Forever Plan and Upgrade Only when you are ready. Get maximum ROI.</p>
        </div>
    </div>
    <div class="cards mx-5 my-4">
        <div class="card-top1">
            <img src="../../images/example-heading-image-icon.svg" alt="" class="logos">
            <h2>Real-time Reporting</h2>
        </div>
        <div class="card-body1">
            <p>Save atleast 4 hours on a daily basis and invest your time in Business Growth & RnD.
            </p>
        </div>
    </div>
    <div class="cards mx-5 my-4">
        <div class="card-top1">
            <img src="../../images/pac-icon-requesting-350x250.svg" alt="" class="logos">
            <h2>Implements 100%
            </h2>
        </div>
        <div class="card-body1">
            <p>95% users say that the best thing about TranZact is that it's extremely easy to understand and use.
            </p>
        </div>
    </div>
    <div class="cards mx-5 my-4">
        <div class="card-top1">
            <img src="../../images/pac-icon-sending-350x250.svg" alt="" class="logos">
            <h2>Flexible Integrations</h2>
        </div>
        <div class="card-body1">
            <p>
                Integrate your Whatsapp and Email for better communication with Customers. </p>
        </div>
    </div>
</div>
<div class="features">
    <div class="points">
        <h3 class="headings">Your all-in-one dashboard on cloud</h3>
        <p>✓ Track overall health of your business in real time</p>
        <p>✓ Keep an eye on your quotation to order conversion</p>
        <p>✓ Get timely payment by automated notifications and reminders</p>
    </div>
    <div class="images">
        <img src="../../images/main-landing-01.png" alt="stats">
    </div>
</div>