<div class="container">
    <div class="headings">
        <h4 class="h4">
            OUR SOLUTIONS ARE KNOWN FOR
        </h4>
        <h1 class="h1">
            Rated #1 in the Warehouse Management Solution for its scalable retailing capabilities
        </h1>
    </div>
    <div class="images ">
        <img src="../../images/main-landing-02.png" alt="">
    </div>
</div>
<div class="top">
    <h1 class="text-center">Our Partners</h1>
</div>
<div class="partners">
    <div class="mamaearth">
        <img src="../../images/mamaearth.png" alt="mamaearth">
    </div>
    <div class="lenskart">
        <img src="../../images/lenskart.png" alt="lenskart">
    </div>
    <div class="dhani">
        <img src="../../images/dhani.png" alt="dhani">
    </div>
    <div class="express">
        <img src="../../images/xpressbees.png" alt="express">
    </div>
    <div class="hamilton">
        <img src="../../images/hamilton.png" alt="hamilton">
    </div>
</div>