<div class="container">
    <div class="checksuppliers" *ngIf="show">
        <h1 class="text-center heading">SUPPLIERS DATA</h1>
        <table class="table bg-dark">
            <thead class="text-light">
                <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Supplier Id</th>
                    <th scope="col">Aadhar</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact No</th>
                    <th scope="col">State</th>
                    <th scope="col">City</th>
                </tr>
            </thead>
            <tbody class="text-light">
                <tr *ngFor="let obj2 of objsuppliers |filter:search">
                    <td scope="row">{{obj2.company}}</td>
                    <td scope="row">{{obj2.supplier}}</td>
                    <td scope="row">{{obj2.supplier_id}}</td>
                    <td scope="row">{{obj2.aadhar}}</td>
                    <td scope="row">{{obj2.email}}</td>
                    <td scope="row">{{obj2.contact}}</td>
                    <td scope="row">{{obj2.state}}</td>
                    <td scope="row">{{obj2.city}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>